<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cargo:</strong>
    <%= user.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Número de Telefone:</strong>
    <%= user.phone_number %>
  </p>

</div>
