<div id="<%= dom_id service_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Reported issue:</strong>
    <%= service_order.reported_issue %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identified issue:</strong>
    <%= service_order.identified_issue %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Obs:</strong>
    <%= service_order.obs %>
  </p>

</div>
