<div id="<%= dom_id board %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= board.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= board.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= board.quantity %>
  </p>

</div>
